h1{
    font-family: 'Lucida Handwriting';
    text-align: center;
}
body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
img{
    width: 490px;
    height: 400px;
    display: block;
    padding: 0px;
    margin: 0 auto;

}
ul>div{
    padding: 16px;

}
li{
    list-style-type: none;
    text-align: center;
    margin: 8px;
}
div{
    width: 70%;
    margin: auto;
}
#keema-image{
    object-fit: contain;
}